#header1 {
    font-size: 48px;
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    bottom: 75%;
}

#text1 {
    font-size: 32px;
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    bottom: 66%;
}

#divider {
    position: absolute;
    bottom: 67%;
    color: #1eff00;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

#header2 {
    font-size: 48px;
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    bottom: 55%;
}

#text2 {
    font-size: 32px;
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    bottom: 43%;
}